<div class="auth">
    <div class="row">
        <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#login">Log In</a></li>
            <li class="tab col s6"><a  href="#register">Sign Up</a></li>
        </ul>
        </div>
        <div id="login" class="col s6 offset-s3">

        {{#if loginError}}
          <p class="alert">{{loginError}}</p>
        {{/if}}

      <h2>Welcome to the shop</h2>
      <form action="/auth/login" method="POST">
        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
          <span class="helper-text" data-error="Please, enter your email"></span>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Please, enter your password"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <p><a href="/auth/reset">Forgot password?</a></p>

        <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    </div>
    <div id="register" class="col s6 offset-s3">
        {{#if registrationError}}
          <p class="alert">{{registrationError}}</p>
        {{/if}}

      <h2>Create an account</h2>
      <form action="/auth/register" method="POST" novalidate>
        
        <div class="input-field">
          <input id="name" name="name" type="text" class="validate" required>
          <label for="name">Your Name</label>
          <span class="helper-text" data-error="Please, enter your name"></span>
        </div>

        <div class="input-field">
          <input id="remail" name="email" type="email" class="validate" required>
          <label for="remail">Your Email</label>
          <span class="helper-text" data-error="Please, enter your email"></span>
        </div>

        <div class="input-field">
          <input id="rpassword" name="password" type="password" class="validate" required>
          <label for="rpassword">Password</label>
          <span class="helper-text" data-error="Please, create a password"></span>
        </div>

         <div class="input-field">
          <input id="confirm" name="confirm" type="password" class="validate" required>
          <label for="confirm">Pease, confirm your password</label>
          <span class="helper-text" data-error="Please, confirm a password"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        
        <button class="btn btn-primary" type="submit">Register</button>
        

      </form>
    </div>
  </div>
</div>