<div class="home-title"><h3>to the online studying platform "Owl"</h3></div>

<h5><i>Best courses here</i></h5>

<p>Find your students and became a student!</p>

<img src="https://cdn.pixabay.com/photo/2020/10/17/20/28/virtual-5663279_960_720.png" alt="students" class="bg">
