<div class="home-title"><h3>to the online studying platform "Owl"</h3></div>

<h4><i>Best courses here</i></h4>

<p>Find your students or
     become a student!</p>

<p><b>To see all functionality please feel free to sign up. </b><i>It's safe, no one can see your password, edit someone else's course or place an order with your data</i></p>

{{!-- <img src="https://cdn.pixabay.com/photo/2020/10/17/20/28/virtual-5663279_960_720.png" alt="students" class="bg"> --}}
<img src="pictures/bg.png" alt="student" class="bg">
