/* main screen */
nav {
  background-color: #6ea7eeb0;
  text-shadow:  2px 8px 6px rgba(0,0,0,0.2),
                0px -5px 35px rgba(255,255,255,0.3); 
}

.nav-wrapper {
  padding: 0 2rem;
}

.logo {
  width: 70px;
  margin-left: 30px;
}

.bg {
  display: block;
  width: 30%;
  margin: 0 auto;
}

/* title */
.home-title {
  margin-top: 0.5%;
  padding: 50px 20px 50px 170px;
  text-align: center;
} 
.home-title h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  color: #587493;
  font-size: 2.5em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  line-height: 1;
  padding: 8px 20px 8px 2px;
  border-top: 4px solid;
}
.home-title h3:before {
  content: "Welcome";
  position: absolute;
  top: -15px;
  left: -200px;
  font-size: 1.5em;
  transform: rotate(-25deg);
  font-family: 'Marck Script', cursive;
}
.home-title h3:after {
  content: ""; 
  position: absolute;
  width: 120%;
  height: 4px;
  right: 0;
  bottom: -4px;
  background: #587493;
}



/*one course*/
.course{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% auto;
}
.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-height: 50vh;
}
/* courses */
.price {
  font-size: 2rem;
}
.coursesContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.card {
  width: 300px;
  text-align: center;
}
.course-image{
  height: 170px;
  object-fit: contain;
  padding: 1%;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.course-form {
  margin-bottom: 2rem;
}

/* orders */
.card.orders {
  width: auto;
}

/* auth */
.auth {
  padding-top: 1rem;
}

/* cart */
.cart-btns {
  display: flex;
  
}

.shopping{
 margin-left: 25%;
}


/* errors */
.alert {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
}

/* avatar in profile */
.avatar-wrapper {
  margin-top: 5%;
}

.avatar {
  max-width: 300px;
  height: auto;
}

.avatar-btn{
  margin-top: 57px;
}
